<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="P2k7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <P2k7.Properties.Settings>
      <setting name="P2k7_AdminWebSvc_Admin" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/admin.asmx</value>
      </setting>
      <setting name="P2k7_ArchiveWebSvc_Archive" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/archive.asmx</value>
      </setting>
      <setting name="P2k7_CalendarWebSvc_Calendar" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/calendar.asmx</value>
      </setting>
      <setting name="P2k7_CustomfieldsWebSvc_CustomFields" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/customfields.asmx</value>
      </setting>
      <setting name="P2k7_EventsWebSvc_Events" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/events.asmx</value>
      </setting>
      <setting name="P2k7_LoginformsWebSvc_LoginForms" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/loginforms.asmx</value>
      </setting>
      <setting name="P2k7_LoginwindowsWebSvc_LoginWindows" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/loginwindows.asmx</value>
      </setting>
      <setting name="P2k7_LookuptableWebSvc_LookupTable" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/Lookuptable.asmx</value>
      </setting>
      <setting name="P2k7_ProjectWebSvc_Project" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/project.asmx</value>
      </setting>
      <setting name="P2k7_QueuesystemWebSvc_QueueSystem" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/queuesystem.asmx</value>
      </setting>
      <setting name="P2k7_ResourceWebSvc_Resource" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/resource.asmx</value>
      </setting>
      <setting name="P2k7_SecurityWebSvc_Security" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/security.asmx</value>
      </setting>
      <setting name="P2k7_StatusingWebSvc_Statusing" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/statusing.asmx</value>
      </setting>
      <setting name="P2k7_TimesheetWebSvc_TimeSheet" serializeAs="String">
        <value>https://projects.fujinet.vn/_vti_bin/psi/timesheet.asmx</value>
      </setting>
    </P2k7.Properties.Settings>
  </applicationSettings>
</configuration>